<div class="grid">
  <div class="w-full">
    <div class="flex justify-center items-center text-center">
      <!-- Login -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card
          header="Login"
          subheader="Faça login com sua conta existente!"
          styleClass="mt-10"
          [style]="{ width: '20rem' }"
          *ngIf="loginCard"
        >
          <div class="flex justify-center text-center flex-col m-3">
            <input
              #emailInput
              formControlName="email"
              pInputText
              type="email"
              placeholder="Email"
            />
            <small
              class="p-error !text-sm text-red-500 flex justify-start !py-1"
              *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
            >
              {{getError('Email','o','email')}}
            </small>
          </div>
          <div class="flex justify-center text-center flex-col m-3">
            <input
              #passwordInput
              formControlName="password"
              pInputText
              type="password"
              placeholder="Senha"
            />
            <small
              class="p-error !text-sm text-red-500 flex justify-start !py-1"
              *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
            >
              {{getError('Senha','a','password')}}
            </small>
          </div>

          <div class="card flex justify-center mt-3">
            <button type="submit" pButton pRipple [disabled]="!loginForm.valid">Fazer Login</button>
          </div>

          <span
            class="flex justify-center align-middle text-center text-red-600 font-semibold"
            style="cursor: pointer"
            (click)="onChangeCard()"
            (keydown.enter)="onChangeCard()"
            (keydown.space)="onChangeCard()"
            :tabindex="0"
          >
            Criar Conta
          </span>
        </p-card>
      </form>

      <!-- Signup -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
        <p-card
          header="Criar Conta"
          subheader="Crie já sua conta gratuita!"
          styleClass="mt-10"
          [style]="{ width: '20rem' }"
          *ngIf="!loginCard"
        >
          <div class="flex justify-center text-center flex-col m-3">
            <input formControlName="name" pInputText type="text" placeholder="Nome" />
            <small
              class="p-error !text-sm text-red-500 flex justify-start !py-1"
              *ngIf="signupForm.get('name')?.touched && signupForm.get('name')?.invalid"
            >
              {{getError('Nome','o','name')}}
            </small>
          </div>
          <div class="flex justify-center text-center flex-col m-3">
            <input formControlName="email" pInputText type="email" placeholder="Email" />
            <small
              class="p-error !text-sm text-red-500 flex justify-start !py-1"
              *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid"
            >
              {{getError('Email','o','email')}}
            </small>
          </div>
          <div class="flex justify-center text-center flex-col m-3">
            <input formControlName="password" pInputText type="password" placeholder="Senha" />
            <small
              class="p-error !text-sm text-red-500 flex justify-start !py-1"
              *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
            >
              {{getError('Senha','a','password')}}
            </small>
          </div>

          <div class="card flex justify-center mt-3">
            <button type="submit" pButton pRipple [disabled]="!signupForm.valid">
              Criar Conta
            </button>
          </div>
          <span
            class="flex justify-center align-middle text-center text-red-600 font-semibold"
            style="cursor: pointer"
            (click)="onChangeCard()"
            (keydown.enter)="onChangeCard()"
            (keydown.space)="onChangeCard()"
            :tabindex="0"
          >
            Login
          </span>
        </p-card>
      </form>
    </div>
  </div>
</div>
